/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html,
   button,
   input,
   select,
   textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.6;
}

body {
    background-color: #ade6fe;
    background-image: url(../img/background.jpg);
    background-position: center top;
    background-repeat:no-repeat;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

ul {
    margin: 0;
}

body,
input,
textarea {
    color: #262626;
    font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    clear: both;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

 audio,
 canvas,
 img,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

   .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ========================
   Fonts
   ========================= */

   /* lato */
   @font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
    url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
    url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
    url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
    url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* venera */
@font-face {
    font-family: 'venera';
    src: url('../fonts/venera/venera-900-webfont.eot');
    src: url('../fonts/venera/venera-900-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/venera/venera-900-webfont.woff') format('woff'),
    url('../fonts/venera/venera-900-webfont.ttf') format('truetype'),
    url('../fonts/venera/venera-900-webfont.svg#venera900') format('svg');
    font-weight: normal;
    font-style: normal;
}
.f-venera {
    font-family: 'venera', Helvetica, Arial;
}

/* ========================
   Layouts
   ========================= */

   /* find us */
   .l-findus .l-iframe-responsive-wrapper {
    margin-bottom: 2.5em;
}

/* iframe */
.l-iframe-responsive-wrapper        {
    position: relative;
}

.l-iframe-responsive-wrapper .l-iframe-ratio {
    display: block;
    width: 100%;
    height: 401px;
}

.l-iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* price */
.l-price {
    background-color: #f7f7f7;
}
.l-price table {
    width: 100%;
    font-weight: bold; 
}
.l-price td {
    padding: 0 2% 0 2%;
}
.l-price th {
    text-align: left;
    font-family: 'venera';
    font-size: 1.7em;
    color: #085768;
}
.l-price .table-title {
    color: white;
    font-size: 1em;
    padding: 0.5% 1% 0.5% 1%;
    text-transform: uppercase;
    background-color: gray;
    font-weight: normal;
}

/* contact */
.l-contact {
    background-color: #f8f5f8;
    background-image: url(../img/meduse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 3em !important;
}
.l-contact label {
    display: block;
    margin-bottom: .2em;
    text-align: left;
    width: 100%;
    color: #adadad;
    font-size: 1.15em;
    font-weight: normal;
}
.l-contact input, .l-contact textarea {
    display: block;
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
    -webkit-border-radius: 3px; /* border-radius */
    -moz-border-radius: 3px;
    border-radius: 3px; 
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5); /* box-shadow */
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    border-style: none;
}
.l-contact textarea {
    height: 10em;
}
.l-contact input.btn {
    display: inline-block;
    margin: auto;
    height: 2em;
    width: auto;
    margin-top: 1em;
    -webkit-border-radius: 3px; /* border-radius */
    -moz-border-radius: 3px;
    border-radius: 3px; 
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5); /* box-shadow */
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    border-style: none;
}
.l-contact textarea {
    width: 100%;
}
.contact-nb {
    color: #adadad;
}
input.l-contact-input-inline {
    display: inline;
    margin: 0 1em 0 1em;
    height: auto;
    width: auto;
    text-align: left;
}
.l-contact h2.main-subtitle {
    margin-bottom: 1em;
    margin-top: 3em;
}
.l-contact hr {
    margin-bottom: 2em;
    margin-top: 2.5em;
}
.l-contact form {
    text-align: left;
}
.l-contact input.btn {
    display: block;
}

/* Header */
.l-header {
    height: 9em;
}
.header-logo {
    display: block;
    float: left;
    height: 9em;
    width: 277px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 3em ;
    text-indent: -10000px;
}
@media (max-width: 900px) {
    .header-logo {
        position: relative;
        left: 50%;
        margin-left: -146px;
    }
}

/* Navigation */
.l-nav{
    float: right;
    height: 9em;
}
.nav-menu {
    margin-top: 1.8em;
    padding: 0;
    width: 31em;
}
.nav-link {
    display: inline-block;
    *display: inline; /* IE7 and below */ 
    width: 10em;
    text-transform: uppercase;
    border-left-style:solid;
    border-left-width:1px;
    font-size: .9em;
    line-height: 2em;
    font-weight: bold;
    border-color: #aaa;
    padding-left: 3%;
}
.nav-link-item {
    color: #828282;
    text-decoration: none;
    display: block;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out; 
    -o-transition: 0.3s ease-in-out; 
    transition: 0.3s ease-in-out; 
}
.is-active .nav-link-item,
.is-active .nav-link-item:hover {
    color: #13B5C0;
    text-decoration: underline;
}
.nav-link-item:hover {
    color: #444;
}
.nav-social {
    float: right;
    background-color: #E6E6E6;
    height: 4.9em;
    width: 1.5em;
    padding: 1.6em 1em 2.5em 1em;
}
.nav-social a {
    text-decoration: none;
    margin: .2em;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.nav-social a:hover {
    opacity: 0.5;
}
.l-nav .icon {
    vertical-align: -.5em;
    margin-right: .5em;
}
@media (max-width: 900px) {
    .l-nav {
        width: 100%;
        text-align: center;
    }
    .nav-menu {
        display: inline-block;
    }
    .nav-social {
        width: 4.5em;
        background: none;
    }
    .nav-link-tablet-noborder {
        border: none;
    }
}

/* Main */
.l-main {
    padding: 0 1.5em;
}
.main-title {
    font-family: 'venera';
    font-size: 1.8em;
    color: #085768;
}
.main-subtitle {
    font-family: 'venera';
    font-size: 1.1em;
    color: #085768;
    text-transform: uppercase;
    margin-bottom: 0;
}
.main-subtitle2 {
    font-family: 'venera';
    font-size: .9em;
    text-transform: uppercase;
    margin-top: 0;
    color: #085768;
    text-align: center;
}
.main-center {
    width: 50%;
    margin: auto;
    text-align: center;
}
.main-textleft  {
    text-align: left;
}
.main-marginbottom3 {
    margin-bottom: 3em;
}
.main-link {
    color: #66ACAA;
}
.main-opacity a {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.main-opacity a:hover {
    opacity: 0.5;
}

/* Constrained */
.l-constrained {
    max-width: 64em; /* 1024/16 */
    padding: 0 1.5em; /* 20/16 */
    margin: auto;
}
@media (max-width: 690px) {
    .l-constrained {
        padding: 0;
    }
}

/* Container */
.l-container {
    -moz-box-shadow: 0px 1px 3px 0px #c0c0c0;
    -webkit-box-shadow: 0px 1px 3px 0px #c0c0c0;
    -o-box-shadow: 0px 1px 3px 0px #c0c0c0;
    box-shadow: 0px 1px 3px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=3);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    behavior: url(js/PIE.htc);
}

/* Footer */
.l-footer {
    background-color: #7E7E7E;
    overflow: auto;
    clear: both;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 3em;
    padding: .5em 2em;
    behavior: url(js/PIE.htc);
}
.l-footer ul {
    margin: 0;
    padding: 0;
}
.l-footer p {
    line-height: 1.2;
    color: #fff;
    font-weight: normal;
}
.l-footer a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
}
.l-footer a:hover {
    text-decoration: underline;
}
.footer-valign-top {
    margin-top: 2em;
}
.footer-contact {
    display: block;
}
.l-footer .icon-contact {
    vertical-align: .5em;
    margin-right: .5em;
}
.l-footer .footer-contact {
    margin-left: 33px;
}
.l-footer .icon-location {
    float: left;
}
.l-footer .icon-contact {
    float: left;
}
.l-footer .icon-legal {
    float: left;
}
.l-footer .icon-memory {
    float: left;
}
.l-footer-location, .l-footer-memory, .l-footer-legal {
    margin-left: 9px;

}
/* Home */
.home-offers {
    text-align: center;
}
.home-offers p {
    text-align: left;
    padding-bottom: 2em;
}
.home-offers a {
    color: #66ACAA;
}

/* Stays */
.stays-offers {
    text-align: center;
    margin-top: 5em;
}
.stays-offers p {
    text-align: left;
    padding-bottom: .5em;
}
.l-stays article {
    margin-bottom: 2em;
}

/* Single */
.l-single .main-title {
    text-align: center;
}
.l-single .main-title2 {
    text-align: left;
}
.single-head {
    padding: 0 10%;
    margin: auto;
    text-align: center;
    margin-bottom: 3em;
}
.single-title {
    margin: 0;
    text-transform: uppercase;
}
.single-subtitle {
    margin-top: 0;
}
.single-place img {
    margin-top: 1em;
}
.single-price {
    background-color: #efefef;
    text-align: center;
    padding: 1em 20% 3em;
    margin-top: 1em;
}
.single-price-block {
    background-color: #fff;
    padding: 1em 1.5em;
    margin-top: 1em;
}
.single-price-item {
    font-size: 1.1em;
    font-weight: bold;
}
.single-price-wildcard {
    font-size: 0.8em;
}
.single-title-item {
    font-size: 1.1em;
    font-weight: bold;
}
.single-bonus {
    margin-top: 2em;
}
.single-bonus ul {
    padding-top: 1.1em;
    padding-bottom: 1.1em; 
}
.single-bonus-good li {
    list-style-image: url(../img/good.png);
}
.single-bonus-bad li {
    list-style-image: url(../img/bad.png);
}
.single-bonus-date {
    text-align: center;
    padding-top: 2em;
}
.single-options {
    margin: 4em 0 2em;
}

/* pro */

.pro-title {
    font-size: 1.17em;
    font-family: 'venera';
    font-weight: normal;
    color: #075760;
}
.pro-funding  {
    background-color: #efefef;
    text-align: center;
    padding: 2em 20% 3em;
    margin-top: 3em;
    margin-bottom: -3em;
}
/* ===============================
 Modules
 ================================ */

 /* table */
 .table-subtitle {
    background-color: #7E7E7E;
 }


 /* form */
 .form-title {
    padding-top: 7%;
    text-transform: uppercase;
    font-family: 'venera';
    font-size: 2.2em;
    color: #8A8589;
}

/* Push */
.push-img {
    border-radius: 500px;
    behavior: url(js/PIE.htc);
}
.push-stays {
    border-width: 7px;
    border-style: solid;
    border-color: #25c39c;
    background-color: #25c39c;
}
.push-exploration {
    border-width: 7px;
    border-style: solid;
    border-color: #85a961;
    background-color: #85a961;
}
.push-training {
    border-width: 7px;
    border-style: solid;
    border-color: #fc7000;
    background-color: #fc7000;
}
.push-prodiving {
    border-width: 7px;
    border-style: solid;
    border-color: #a93333;
    background-color: #a93333;
}
.push-title {
    font-size: 1.17em;
    font-family: 'venera';
    font-weight: normal;
    color: #075760;
}
.push-subtitle {
    font-size: 1.17em;
    color: #075760;
    margin-bottom: 0;
}
.push-subtitle2 {
    font-size: 1em;
    font-weight: normal;
    color: #075760;
    margin-top: 0;
}
@media (max-width: 890px) {
    .push-title {
        font-size: 1em;
    }
}

/* Slider */
.flexslider {
    clear: both;
}
.slides-content {
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    top: 0%;
    height: 100%;
    margin: auto;
    background: url(../img/slide-gradient.png) repeat-x 0 0px;
}
.slides h1 {
    padding-top: 7%;
    text-transform: uppercase;
    font-family: 'venera';
    font-size: 2.2em;
    color: #FFF;
    margin-bottom: 0;
    margin-top: 0;
}
.slides h2 {
    padding-top: 7%;
    text-transform: uppercase;
    font-size: 1.8em;
    color: #FF9535;
    margin-bottom: 0;
    margin-top: 0;
}
.slides p {
    font-size: 1.1em;
    color:  #fff;
    font-weight: lighter;
    margin-bottom: 1.5em;
    margin-top: 0;
}
@media (max-width: 815px) {
    .slides h2 {
        font-size: 1.5em;
    }
    .slides p {
        font-size: 1em;
    }
}

/* Button */
.btn {
    display: inline-block;
    line-height: 1.3em;
    text-align: center;
    background-color: #13B5C0;
    padding: .4em .7em;
    border-radius: 0.15em;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    behavior: url(js/PIE.htc);
}
.btn:hover {
    background-color: #0ba4ae;
}
.btn-big {
    font-size:1.3em;
}
@media (max-width: 815px) {
    .btn {
        font-size: 0.8em;
    }
    .slides-content p, .slides-content h2 {
        width: 50%;
        margin: auto;
    }
    .slides-content p {
        margin-bottom: 1em;
    }
}

/* Call to Action */
.cta {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.cta li {
    display: inline-block;
    padding: .5em 1em;
}

/* Cols */
.col_2 p {
    margin-top: 0;
}

/* Icons */
.icon {
    display: inline-block;
    background: url('../img/sprite.png') no-repeat;
}
.icon-facebook {
    background-position: -29px -20px;
    width: 26px;
    height: 26px;
}
.icon-googleplus {
    background-position: 0 -20px;
    width: 26px;
    height: 26px;
}
.icon-twitter {
    background-position: -771px -20px;
    width: 27px;
    height: 26px;
}
.icon-contact-grey {
    background-position: -58px -24px;
    width: 19px;
    height: 19px;
}
.icon-options {
    background-position: -394px -7px;
    width: 240px;
    height: 74px;
}
.icon-center {
    background-position: -79px 31px;
    width: 272px;
    height: 134px;
}
.icon-location {
    background-position: -638px 7px;
    width: 25px;
    height: 75px;
}
.icon-legal {
    background-position: -667px -16px;
    width: 38px;
    height: 32px;
    margin-left: 35px;
}
.icon-memory {
    background-position: -740px -22px;
    width: 29px;
    height: 30px;
    margin-left: 20px;
}
.icon-contact {
    background-position: -705px -16px;
    width: 32px;
    height: 35px;
    margin-left: -15px;
}

/* =============================
   Helper classes
   ============================== */

/*
 * Image replacement
 */

 .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

 .hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

 .clearfix {
    *zoom: 1;
}

/* Layout */
.marginbottom0 {
    margin-bottom: 0 !important;
}
.marginbottom1 {
    margin-bottom: 1em !important;
}
.marginbottom3 {
    margin-bottom: 3em !important;
}
.marginbottom5 {
    margin-bottom: 5em !important;
}
.margintop0 {
    margin-top: 0em !important;
}
.margintop1 {
    margin-top: 1em !important;
}
.margintop2 {
    margin-top: 2em !important;
}
.margintop3 {
    margin-top: 3em !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}